In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')
df

,Name,ID,School,Major,GPA,Gender,Student_status
0,AhmedAli,20220506,Engineering,CS,2.10532,Female,Sophomore
1,MohammedSalem,20220822,Business,Business,2.67496,Male,Junior
2,YasserKhaled,20220729,Business,Business,2.22819,Male,Junior
3,FatimaOmar,20220764,Science,Biomedical,3.77249,Female,Freshman
4,MaryamMohamed,20220979,Science,Nano,3.18237,Female,Senior
...,...,...,...,...,...,...,...
986,Yasser Khaled,20220729,Business,Business,2.22819,Male,Junior
987,Yasser Khaled,20220703,Engineering,CIE,2.81412,Male,Senior
988,Ali Ahmed,20220506,Engineering,CS,2.10532,Male,Sophomore
989,Salem Mohammed,20220822,Business,Business,2.67496,Male,Junior
990,Yasser Khaled,20220729,Business,Business,2.22819,Male,Junior

In [3]:
num_of_stuents = len(df['ID'])
num_of_stuents

991

In [4]:
stuents = (df['Name'])
stuents

0            AhmedAli
1       MohammedSalem
2        YasserKhaled
3          FatimaOmar
4       MaryamMohamed
            ...
986     Yasser Khaled
987     Yasser Khaled
988         Ali Ahmed
989    Salem Mohammed
990     Yasser Khaled
Name: Name, Length: 991, dtype: object

In [5]:
Majors = df['Major']
Majors

0              CS
1        Business
2        Business
3      Biomedical
4            Nano
          ...
986      Business
987           CIE
988            CS
989      Business
990      Business
Name: Major, Length: 991, dtype: object

In [6]:
gender_count = df["Gender"].value_counts()
total_count = gender_count.Male + gender_count.Female
total_count

np.int64(991)

In [7]:
print(f"Percentage of males {gender_count.Male/total_count*100}%")
print(f"Percentage of females {gender_count.Female/total_count*100}%")

Percentage of males 48.839556004036325%
Percentage of females 51.160443995963675%

In [8]:
School_count = df["School"].value_counts()
total_count = School_count.Engineering + School_count.Business + School_count.Science
total_count

np.int64(991)

In [9]:
print(f"Percentage of Engineering {School_count.Engineering/total_count*100}%")
print(f"Percentage of Business {School_count.Business/total_count*100}%")
print(f"Percentage of Science {School_count.Science/total_count*100}%")

Percentage of Engineering 29.56609485368315%
Percentage of Business 37.638748738647834%
Percentage of Science 32.795156407669026%

In [10]:
Student_status_count = df["Student_status"].value_counts()
Student_status_count

Student_status
Junior       374
Senior       266
Sophomore    177
Freshman     174
Name: count, dtype: int64

In [11]:
Student_status_count = df["Student_status"].value_counts()
total_count = Student_status_count.Junior + Student_status_count.Senior + Student_status_count.Sophomore + Student_status_count.Freshman
total_count

np.int64(991)

In [12]:
print(f"Percentage of Junior {Student_status_count.Junior/total_count*100}%")
print(f"Percentage of Senior {Student_status_count.Senior/total_count*100}%")
print(f"Percentage of Sophomore {Student_status_count.Sophomore/total_count*100}%")
print(f"Percentage of Freshman {Student_status_count.Freshman/total_count*100}%")

Percentage of Junior 37.73965691220989%
Percentage of Senior 26.84157416750757%
Percentage of Sophomore 17.860746720484357%
Percentage of Freshman 17.558022199798184%

In [13]:
GPA_count = df["GPA"].value_counts()
GPA_count

GPA
2.22819    167
3.18237    131
2.67496    127
2.10532    117
3.77249    114
2.81412     77
3.95000     20
2.87000     20
3.62000     20
3.15000     20
3.55511     20
3.22222     20
2.99933     20
3.77755     20
3.66666     20
3.33399     20
3.55577     20
2.88844     19
3.44488     19
Name: count, dtype: int64

In [14]:
unique_GPA = df["GPA"].unique()
unique_GPA

array([2.10532, 2.67496, 2.22819, 3.77249, 3.18237, 3.95   , 2.87   ,
       3.62   , 3.15   , 2.81412, 3.55511, 3.22222, 2.99933, 2.88844,
       3.77755, 3.66666, 3.55577, 3.44488, 3.33399])